#products-gallery {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.product-img {
    width: 100%;
    height: 180px;

    object-fit: cover;

    border-radius: 8px;
    object-fit: contain;
}