.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.servicio-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.servicio-card img {
    width: 100%;
    height: 180px;

    object-fit: cover;

    border-radius: 8px;
    object-fit: contain;
}