* {
    margin: 0;
    padding: 0.2%;
    box-sizing: border-box;
}

body {
    background-image: url("../Fondo/BodyFondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#header_up {
    position: relative;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    background: rgba(133, 199, 57, 0.555);
    /* background: linear-gradient(135deg, #cddb06, #9bca18, #d0d317); */
}

#header_up h1 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: end;
    font-size: 70px;
}

#header {
    max-width: 100%;
    min-height: 20%;
    text-align: center;

}

#header nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

#header nav a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

#header_up {
    max-width: 100%;
    max-height: 50%;
    text-align: center;
}

#container {
    background: rgba(255, 255, 255, 0.068);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 20px 15px 15px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#footer {
    position: relative;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    background: rgba(133, 199, 57, 0.555);
    /* background: linear-gradient(135deg, #cddb06, #9bca18, #d0d317); */
}


#footer footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

#footer footer a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#footer footer a i,
span {
    margin-right: 6px;
}